.user-item {
    display: flex;
    margin-bottom: 20px;
}
.user-photo_wrap {
    margin-bottom: 20px;
    width: 70px;
    height: 70px;

    border-radius: 50%;
    overflow: hidden;
}

.user-photo {
    height: 100%;
    object-fit: cover;
}

.user-control {
    display: block;
    width: 10%;
}
.user-info {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: 20px;
    padding: 10px 15px;

    border-radius: 10px;
    background: #fff;
}
.pagination {
    margin-bottom: 20px;
}
.pagination span{
    display: inline-block;
    margin: 0 5px;

    cursor: pointer;
}
.pagination span:hover {
    color: #09d3ac;
}

.selectedPage {
    font-weight: 700;
}