.pagination {
    margin-bottom: 20px;
}
.pagination_item {
    display: inline-block;
    margin: 0 5px;

    cursor: pointer;
    user-select: none;
}
.pagination_item:hover {
    color: #09d3ac;
}

.selectedPage {
    font-weight: 700;
}