.dialogs {
    display: grid;
    grid-template-columns: 3fr 9fr;
}

.dialogsItems {
    padding: 0 20px 0 0;
    border-right: 1px solid #252525;
}
.dialog {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.dialog span {
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}
.dialog img {
    width: 30px;
    height: 30px;
}

.dialog a{
    color: saddlebrown;
}

.dialog a:hover {
    color: #fff;
}
.dialog a.active {
    color: #fff;
    font-size: 22px;
}

.messages {
    padding: 0 15px;
}

.message {
    margin-bottom: 20px;
    display: flex;
}
.userAva img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}
/*.message:nth-child(even) {*/
/*    text-align: right;*/
/*}*/
.messageItem {
    display: inline-block;
    background-color: #fff;
    border-radius: 10px;
    padding: 8px 10px;
}
